h1 {
  text-align: center;
  font-family: "Symbola";
  font-style: italic;
  font-weight: normal;
  font-size: 55px;
  border-bottom : 1px solid #000;
}
body {
  background-image: url(./Diamant-HD.jpg);
  background-size: 35%;
  background-position:center center;
  background-repeat: no-repeat;
  height: 100%;
}
html {
  height: 100%;
}
nav>ul>li {
  display: inline-block;
  list-style: none;
}
nav ul li a + *{
  display: none;
}
nav ul li a:hover + *{
  display: block;
  position: absolute;
  color:blue;
}
nav ul li a + *:hover {
  display: block;
  position: absolute;
  color:blue;
}
nav {
  font-family:"TimesNewRoman";
  font-size: 20px;
  text-align: center;
}
a {
text-decoration: none;
color: black;
}
a:hover {
  color: gray;
}
nav>ul>li>ul{
  width: 18%;
  list-style: none;
  padding: 0;
}

nav>ul>li{
  width: 18%;
}
